<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    <h2>Welcome, {{ session['username'] }}! <a href="{{ url_for('logout') }}">Logout</a></h2>

    <h3>Upload a File</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h3>Uploaded Files:</h3>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('uploaded_file', filename=file[1]) }}" target="_blank">
                    {{ file[1] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
